<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @task.category_id %>
</p>

<% if logged_in? %>
  <%= link_to 'Edit', edit_user_task_path(current_user, @task) %> |
  <%= link_to 'Back', user_tasks_path(current_user) %>
<% else %>
  <%= link_to 'Back', tasks_path %>
<% end %>

